@import 'variables';

header {
    height: 100vh;
}

.header-content {
    display: flex;
    height: 100%;
}

.header-content__text {
    width: 50%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    background-color: $grey;

    nav {
        height: 80px;
        display: flex;
        align-items: center;

        ul {
            display: flex;
            margin-left: 30px;
            list-style: none;

            li {
                margin: 0 10px;
                padding: 0 5px;
            }
        }
    }
}

.text__promo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
        font-family: 'Source Code Pro', monospace;
        font-weight: 500;
        font-size: 3.8rem;
    }

    div {
        margin-top: 70px;
        width: 380px;

        img {
            width: 70px;
        }
    
        p {
            font-family: 'Source Code Pro', monospace;
        }
    }

    button {
        margin-top: 100px;
    }
}

.header-content__pics {
    flex: 1;
    background-color: $black;
    position: relative;
    width: 50%;

    img {
        position: absolute;
    }

    .pics__line {
        right: 0;
        top: 20%;
        width: 90%;
    }
    
    .pics__code {
        width: 500px;
        top: 40%;
        left: -170px;
    }
    
    .pics__play {
        width: 190px;
        height: 190px;
        bottom: -70px;
        right: 20%;
    }
}