.lang {
    display: flex;
    justify-content: space-around;
}

.lang__pics {
    position: relative;

    .code {
        width: 550px;
    }

    .play-icon {
        position: absolute;
        transform: rotate(35deg) !important;
        width: 170px;
        height: 170px;
        right: -30px;
        top: 40%;
    }
}

.lang__text {
    width: 450px;
    align-self: flex-end;

    p {
        margin: 30px 0;
    }
}

@media (max-width: 1350px) {
    .lang {
        justify-content: space-between;
    }

    .lang__pics {
        .code {
            width: 480px;
        }
    }
}

@media (max-width: 1100px) {

    .lang__text {
        width: 370px;
    }

    .lang__pics {
        .code {
            width: 380px;
        }
    }
}

@media (max-width: 940px) {
    .lang {
        flex-direction: column;
        align-items: center;
    }

    .lang__text {
        align-self: center;
        width: 80%;
    }
}

@media (max-width: 540px) {

    .lang__pics {

        .code {
            width: 80%;
        }

        .play-icon {
            width: 100px;
            height: 100px;
            right: 20px;
        }
    }
}